<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- Navbar  -->
    {{>navbar}}
    <!-- Navbar ends -->   
    <!--Main Header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
               <div class="row errorPg">
                <div class="col-md-8 col-12 Errorimg mx-auto">
                        <img src="images/404_error.png" alt="404 error image">
                        <h1>Welcome to Our Weather App</h1>
                        <p>{{errorMessage}}</p>
                        <a href="/"><button>Go Back</button></a>
                </div>
               </div>
            </div>
        </div>
    </div>
    <!--Main Header ends -->
    <!--Footer  -->
    {{>footer}}
    <!--Footer ends -->
</body>
</html>